
@{
    /**/

    ViewBag.Title = "Tư vấn da";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--modal-phan-biet-cac-loai-da-->
<div class="modal fade" id="modal-phan-biet-cac-loai-da" tabindex="-1" role="dialog" aria-labelledby="modal-phan-biet-cac-loai-da" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="border:none; position:relative;">
            <div class="modal-body p-0" style="border:none; position:relative;">
                <button type="button" class="close text-right modal-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class=" m-0 bg-s">
                    <div class="col-md-11 col-sm-12 px-3 pb-3 mx-auto text-green">
                        <h2 class="text-center title">PHÂN BIỆT CÁC LOẠI DA </h2>
                        <p>
                            Da mặt luôn là một phần quan trọng nhất không thể nào lơ là, nhất là đối với phụ nữ. Với một làn da đẹp, ai cũng sẽ tự tin hơn khi bước ra đường, nhưng không phải ai sinh ra có một làn da đẹp cả. Để có một làn da đẹp tuyệt đối, cần biết cách chăm sóc và bảo vệ chúng khỏi những tác nhân gây hại từ môi trường. Có rất nhiều vấn đề xoay quanh về da, nhưng trước tiên, nếu muốn biết cách khắc phục các vấn đề gây ảnh hưởng cho da thì ta cần biết cách phân biệt các loại da. Trong bài viết này, hãy cùng tìm hiểu xem có bao nhiêu loại da mặt nhé!
                        </p>
                        <h4 class=" text-green-s">Da thường</h4><div class="col-md-10 mx-auto mb-4"><img class="w-100 h-auto" src="~/Content/Image/Advisory/dathuong.jpg" alt="Da thường" /></div><p>Da thường là loại da dễ phân biệt nhất, thông thường, chúng có độ ẩm mướt nhẹ nhàng,loại da này nhìn không quá khô, căng, nhưng cũng không phải là da bóng nhờn, khi rửa mặt không có thay đổi đáng kể trên da. Đây là dấu hiệu cho thấy làn da này rất khỏe và có độ cân bằng tốt.</p><p> Bạn có thể dùng giấy thấm dầu để thấm lên mặt xem thử có bị ướt nhiều hay không, nếu ít thì da của bạn là một làn da mọi người hằng mơ đến đấy.</p><h4 class="text-green-s">Da dầu</h4><div class="col-md-10 mx-auto mb-4"><img class="w-100 h-auto" src="~/Content/Image/Advisory/dadau.jpg" alt="Da dầu" /></div><p>Là loại da phổ biến nhất, còn gọi là da nhờn. Đối với loại da này, cách phân biệt dễ nhất là nhìn thấy da mình bóng lên, chạm vào có cảm giác nhờn rít, điểm nhờn nhiều nhất là ở mũi, trán và cằm. Đôi khi hai bên má cũng có thể tiết ra chất nhờn. Điều này làm nguy cơ nổi mụn tăng cao bởi vì khi da tiết ra chất nhờn, các lỗ chân lông giãn nở ra và tạo điều kiện cho vi khuẩn xâm nhập và cư trú, gây nên mụn đầu đen hoặc mụn cám, tuyến bã nhờn hoạt động khá mạnh mẽ làm da bạn có thể nổi nhiều mụn hơn, nhất là ở mũi và trán.</p><p> Nếu bạn còn nghi ngờ về làn da của mình, bạn có thể dùng giấy thấm dầu kiểm tra, nếu giấy thấm dầu ướt ở những vùng trọng điểm thì đích thị da bạn thuộc kiểu da dầu rồi đấy!</p><h4 class="text-green-s">Da khô</h4><div class="col-md-10 mx-auto mb-4"><img class="w-100 h-auto" src="~/Content/Image/Advisory/dakho.jpeg" alt="Da khô" /></div><p>Đối với làn da khô, bạn luôn cảm thấy da mặt mình ở trong tình trạng căng lên, cảm giác sờ vào không mịn màng, đôi khi khô rát khó chịu, nhất là vào mùa nóng, da sẽ bị bong ra, nhiều nhất là ở 2 bên cánh mũi. Bởi vì bề mặt khá sần và khô nên dễ xuất hiện nếp nhăn sớm. Và khi bạn dùng kem dưỡng ẩm mà thấy nó thẩm thấu nhanh hơn bình thường, đó chính là dấu hiệu của làn da khô thiếu ẩm cần được chăm sóc.</p><p> Với những ai sở hữu làn da khô, tốt nhất nên sử dụng kem hỗ trợ độ ẩm để giúp da trở nên mịn màng, giảm thiểu tình trạng bong tróc, đau rát.</p><h4 class="text-green-s">Da hỗn hợp</h4><div class="col-md-10 mx-auto mb-4"><img class="w-100 h-auto" src="~/Content/Image/Advisory/dahonhop.jpg" alt="Da hỗn hợp" /></div><p>Có thể nói, da hỗn hợp là loại da khá phức tạp và hơi khó phân biệt đối với những loại da còn lại, bởi vì bản chất của nó có vùng dầu, vùng khô trải đều trên cùng một gương mặt. Điều này khiến cho việc phân biệt da trở nên khó khăn hơn, nếu vùng mũi bạn có dầu nhưng hai má bạn khô thì đích thị bạn đang sở hữu một làn da hỗn hợp rồi đấy.</p><p> Không những thế, da hỗn hợp còn được chia thành 2 loại như sau:</p><p> Hỗn hợp thiên dầu: tức là làn da có nhiều dầu hơn ở vùng mũi và vùng trán, cằm và hai bên gò má, còn lại thì da khô thiếu ẩm.</p><p> Hỗn hợp thiên khô: Trái ngược với hỗn hợp thiên dầu, làn da này có độ dầu rất ít ở một vài điểm, còn lại ở trong tình trạng khô và sần.</p><p> Đối với loại da này, nếu hỗn hợp thiên dầu thì nên mua sữa rửa mặt chống nhờn về dùng, còn với hỗn hợp thiên khô thì nên mua dưỡng ẩm để bảo vệ độ đàn hồi của da, chống lão hóa sớm.</p><h4 class="text-green-s">Da nhạy cảm</h4><div class="col-md-10 mx-auto mb-4"><img class="w-100 h-auto" src="~/Content/Image/Advisory/danhaycam.jpg" alt="Da nhạy cảm" /></div><p>Da nhạy cảm rất dễ bị tổn thương do tác động từ môi trường và khí hậu xung quanh. Vào mùa lạnh, da nhạy cảm thường bị bong tróc, nhưng điều đặc biệt hơn ở loại da này là nó mỏng đến nổi thấy được những đường máu li ti ở 2 bên má. Loại da này cực kỳ nhạy cảm dưới ánh mặt trời, dễ bị cháy nắng, sạm đen và có thể bị rát da.</p><p> Đối với làn da nhạy cảm, ở bất cứ sự thay đổi nào từ môi trường, làn da này thường ít khi thích nghi và bị kích ứng, thậm chí cả nguồn nước không phù hợp cũng làm cho làn da nổi mẩn ngứa khó chịu. Cho nên những ai sở hữu loại da này nên chú ý dưỡng ẩm cho da và dùng các loại kem tăng sức đề kháng cho da tránh khỏi những tác động xấu từ ngoại cảnh.</p><p> Có thể nói, đây là 5 loại da tiêu biểu mà các bạn cần nắm bắt được để có thể phân biệt được da của mình. Đồng thời, tìm được loại kem phù hợp để dưỡng da và khắc phục những tình trạng xấu trên da mặt. Hy vọng bài viết này sẽ đem lại nhiều điều bổ ích cho những bạn nào còn đang băn khoăn mình có loại da mặt nào, hơn nữa, giúp các bạn nữ bổ sung thêm kiến thức về da mặt cũng như biết nhiều loại da hơn để có thể bảo vệ da một cách đúng đắn và hiệu quả nhất. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal-phan-biet-cac-loai-da-->
<div class="modal fade" id="modal-cach-cham-soc-da" tabindex="-1" role="dialog" aria-labelledby="modal-cach-cham-soc-da" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="border:none; position:relative;">
            <div class="modal-body p-0" style="border:none; position:relative;">
                <button type="button" class="close text-right modal-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class=" m-0 bg-s">
                    <div class="col-md-11 col-sm-12 px-3 pb-3 mx-auto text-green">
                        <h2 class="text-center title">CÁCH CHĂM SÓC DA </h2>
                        <p>
                            Với phái nữ, việc chăm sóc da là vô cùng quan trọng, để có một làn da đẹp, cần phải chăm
                            sóc theo quy trình. Dĩ nhiên, tùy từng loại da mà có cách chăm sóc khác nhau, không nên
                            chăm sóc tùy tiện dẫn đến những hậu quả không đáng có. Bài viết này sẽ hướng dẫn cho
                            các bạn cách để chăm sóc từng loại da đạt hiệu quả cao và nhanh chóng nhất!
                        </p>
                        <h4 class=" text-green-s">Những loại da thường gặp</h4>
                        <div class="col-md-10 mx-auto mb-4">
                            <img class="w-100 h-auto" src="~/Content/Image/Advisory/dathuong.jpg" alt="Da thường" />
                        </div>
                        <p>
                            Có bao giờ bạn thắc mắc rằng tại sao da người đấy đẹp nhưng da mình thì không? Tất cả là
                            do nội tiết tố gây nên. Mỗi người mang một loại da khác nhau, có 5 loại da cơ bản như sau:
                            <ul>
                                <li>Da thường</li>
                                <li> Da khô </li>
                                <li> Da dầu </li>
                                <li>Da hỗn hợp </li>
                                <li>Da nhạy cảm</li>
                            </ul>
                        </p>
                        <p>
                            Mỗi loại da có một đặc tính riêng biệt, ví dụ như da nhờn luôn làm cho chúng ta có cảm giác
                            khó chịu, bết rít, da nhạy cảm thì luôn bị bong tróc mỗi khi trời hanh khô, da hỗn hợp thì lại
                            hay nổi mụn,... Để có một làn da đẹp không tỳ vết, các bạn nên phân biệt loại da của mình
                            trước tiên, sau đó, sử dụng các cách chăm sóc da mặt phù hợp để có thể sở hữu một làn
                            da trong mơ.
                        </p>
                        <h4 class="text-green-s">Một số cách chăm sóc da mặt mà bạn nên biết:</h4>
                        <ol>
                            <li>
                                <b> Đối với da thường</b>
                                <p>
                                    Tuy da thường là loại da khá đẹp, nhưng cũng không vì thế mà lơ là đi việc chăm
                                    sóc. Bởi vì nếu bỏ bê da lâu ngày, da cũng có thể trở nên lão hóa, nổi mụn, thiếu
                                    ẩm,... chính vì thế, những cô nàng sở hữu da thường nên dùng dưỡng ẩm hàng
                                    ngày để dưỡng da cũng như kem dưỡng ẩm, và khi ra đường, đừng quên thoa một
                                    lớp kem chống nắng để chống lại sự xâm hại từ tia cực tím nhé.
                                </p>
                            </li>
                            <li>
                                <b> Đối với da khô</b>
                                <p>
                                    Những ai sở hữu làn da khô sẽ thoát khỏi tình trạng bị mụn, nhưng thay vào đó thì lại
                                    nhanh chóng lão hóa. Chính vì thế, nên dùng các sản phẩm cấp ẩm, khóa ẩm và làm ẩm để
                                    duy trì làn da tươi mới, mịn màng. Đặt biệt, sau khi trang điểm phải tẩy trang kỹ càng và
                                    dùng những sản phẩm đem lại dưỡng chất sâu từ bên trong.
                                </p>
                                <p>
                                    Điều lưu ý đối với những ai có làn da khô là không nên sử dụng sữa rửa mặt có chất tẩy rửa
                                    mạnh, bởi vì chúng sẽ làm cho tình trạng da bạn trở nên bong tróc nặng, đau rát. Và nên
                                    lưu ý đối với mặt nạ đất sét vì loại sản phẩm này sẽ làm da bạn khô hơn. Bạn nên dùng máy
                                    tạo độ ẩm không khí để cung cấp độ ẩm trong phòng, giúp da bạn mịn màng hơn.
                                </p>
                                <p>
                                    Ngoài ra, bạn có thể thoa kem dưỡng lên mặt trước khi đi ngủ tầm 1 tiếng để giúp da bạn
                                    trở nên mịn màng, khỏe mạnh hơn.
                                </p>
                                <p></p>
                            </li>
                            <li>
                                <b> Da dầu</b>
                                <p>
                                    Đối với da dầu, điều đầu tiên là phải vệ sinh da sạch sẽ bằng cách sử dụng sữa rửa
                                    mặt đều đặn 2 lần/ ngày để không bị mất đi độ ẩm và giúp da sạch hơn. Nên tránh
                                    rửa mặt bằng nước ấm để tránh tình trạng các tuyến nhờn có thể hoạt động mạnh
                                    mẽ.
                                </p>
                                <p>
                                    Da dầu là một loại da thiếu đi độ ẩm cao, cho nên bạn hạn chế dùng các sản phẩm
                                    có chứa cồn, vì điều này sẽ giúp da bạn tránh tình trạng bị khô. Thay vào đó là sử
                                    dụng nước hoa hồng có thành phần AHA hoặc Salicylic Acid để lấy đi lượng bã
                                    nhờn và bụi bẩn trên da.
                                </p>
                                <p>
                                    Bạn nên sử dụng những sản phẩm ở dạng nước hoặc dạng gel để dưỡng ẩm cho
                                    da, tránh tình trạng tắc nghẽn lỗ chân lông. Và vì da dầu dễ bị mụn nên khuyên bạn
                                    nên dùng những sản phẩm có chứa Retinoid, hoặc Benzoyl Peroxide, hay Salicylic
                                    Acid để hỗ trợ chữa trị mụn.
                                </p>
                            </li>
                            <li>
                                <b> Da hỗn hợp</b>
                                <p>
                                    Việc chăm sóc da hỗn hợp khá phức tạp, vì loại da này vừa khô vừa dầu xuất hiện
                                    lên cùng một lúc cho nên bắt buộc phải tách riêng các bước chăm sóc theo từng khu
                                    vực da. Những ai sở hữu loại da hỗn hợp thì nên sử dụng sản phẩm có chứa
                                    Glycolic Acid, loại chất này hỗ trợ lấy đi lượng bã nhờn dư thừa trên mặt và loại bỏ
                                    tế bào sừng, thúc đẩy quá trình sản sinh tế bào mới cho khuôn mặt.
                                </p>
                            </li>
                            <li>
                                <b> Da nhạy cảm</b>
                                <p>
                                    Da nhạy cảm là làn da rất khó chăm sóc vì bản thân nó khá khó chiều. Cho nên để
                                    chăm sóc làn da này một cách hiệu quả, điều đầu tiên cần phải lập danh sách đen
                                    những thành phần gây kích ứng làn da. Khi có ý định mua bất kỳ dòng mỹ phẩm
                                    nào, cần test thử trên tay trước xem có phản ứng gì không trước khi sử dụng. Điều
                                    quan trọng là phải tẩy trang da thật sạch sẽ và lựa chọn những sản phẩm thân thiện
                                    với làn da của bạn.
                                </p>
                            </li>

                        </ol>
                        <p>
                            Tùy vào từng loại da mà có từng cách chăm sóc da khác nhau. Nếu xác định sai loại
                            da thì sẽ chọn sai sản phẩm và góp phần làm hại cho da của chính bạn. Đó là lý do
                            vì sao có nhiều bạn đã thực hiện rất bài bản các quy trình chăm sóc da nhưng da
                            vẫn không cải thiện và có chiều hướng tệ đi, khi bạn đã am hiểu cách phân biệt các
                            loại da thì việc chăm sóc da sẽ trở nên dễ dàng hơn trông thấy.
                        </p>
                        <p>
                            Qua bài viết này, hy vọng các bạn sẽ biết cách làm thế nào để chăm sóc da mình
                            một cách tốt nhất, làm đẹp cho bản thân và tự tin khi dạo phố. Xin cảm ơn đã đón
                            đọc bài viết.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal-bi-quyet-lam-trang-da-dau -->
<div class="modal fade" id="modal-bi-quyet-lam-trang-da-dau" tabindex="-1" role="dialog" aria-labelledby="modal-bi-quyet-lam-trang-da-dau" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="border:none; position:relative;">
            <div class="modal-body p-0" style="border:none; position:relative;">
                <button type="button" class="close text-right modal-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class=" m-0 bg-s">
                    <div class="col-md-11 col-sm-12 px-3 pb-3 mx-auto text-green">
                        <h2 class="text-center title">BÍ QUYẾT LÀM TRẮNG DA DẦU </h2>
                        <p>
                            Da dầu - nhờn là một loại da khiến cho chị em khá khó chịu, vì lúc nào cũng tiết ra bã nhờn
                            nhất là tại vùng chữ T, khiến cho da dễ phát sinh mụn và có lỗ chân lông to. Nguyên nhân
                            chính làm làn da bị nhờn - dầu là do ảnh hưởng từ môi trường, chế độ ăn uống và cái chính
                            là sự hoạt động của lớp nhờn dưới da. Một phần là do yếu tố gen, lượng hormone có trong
                            cơ thể và mức độ hoạt động của tuyến nhờn sẽ quyết định độ nhờn trên da nhiều hay ít.
                            Để chăm sóc loại da này, bạn cần phải sử dụng nhiều yếu tố, và để làm làn da dầu - nhờn
                            trở nên trắng sáng, có khá nhiều cách. Nhưng sau đây là 5 cách tiêu biểu giúp làn da trở
                            nên trắng sáng một cách an toàn nhất.
                        </p>
                        <h4 class=" text-green-s">1. Đắp mặt nạ từ lòng trắng trứng gà và chanh</h4>
                        <div class="col-md-10 mx-auto mb-4">
                            <img class="w-100 h-auto" src="~/Content/Image/Advisory/dathuong.jpg" alt="Da thường" />
                        </div>
                        <p>
                            Lòng trắng trứng gà có chứa những vitamin giúp da trắng sáng, bên cạnh đó, chanh giúp bổ
                            sung dưỡng chất cho da, nếu kết hợp lòng trắng trứng gà và chanh, sẽ tạo ra một loại mặt
                            nạ giúp cải thiện làn da bạn nhanh chóng.
                        </p>

                        <h5><b>Cách làm:</b></h5>
                        <p>
                            Tách lòng trắng trứng gà, cho thêm vài giọt chanh vào và trộn đều hỗn hợp, sau đó thoa lên
                            mặt, để trong khoảng 15-20 phút, sau đó thì rửa sạch lại bằng nước ấm.
                        </p>
                        <p>
                            Nước cốt chanh và lòng trắng trứng sẽ giúp bạn se khít lỗ chân lông, tẩy sạch bụi bẩn và
                            chất nhờn trên da, giúp da sáng lên từ từ một cách rõ rệt nhất.
                        </p>
                        <h4 class=" text-green-s">2. Sử dụng mặt nạ làm từ mật ong</h4>
                        <p>
                            Mật ong từ xưa đến nay được xem là một loại thần dược dành cho phái đẹp do có chứa
                            nhiều khoáng chất tốt, mật ong cũng có thể sử dụng để chăm sóc da nhờn.
                        </p>
                        <h5><b>Cách làm:</b></h5>
                        <p>
                            Thoa mật ong lên da, để trong khoảng 15 phút rồi rửa lại bằng nước ấm. Mỗi tuần bạn chỉ
                            nên sử dụng 2 lần.
                        </p>
                        <p>
                            Ngoài ra thì bạn cũng có thể sử dụng bột yến mạch, 1 muỗng cà phê mật ong ấm trộn đều
                            hỗn hợp. Bôi hỗn hợp này lên mặt trong khoảng 15-20 phút sau đó rửa sạch bằng nước ấm.
                            Điều này sẽ giúp da trở nên sạch nhờn và sáng lên trông thấy.
                        </p>
                        <h4 class=" text-green-s">3. Mặt nạ chuối, mật ong và táo.</h4>
                        <p>
                            Chuối, táo, mật ong là một trong những loại dưỡng chất khá tốt cho cơ thể, chúng chứa
                            nhiều vitamin. Cho nên khi sử dụng chúng làm mặt nạ, chúng sẽ giúp cho da bổ sung
                            dưỡng chất, làm sạch da và loại bỏ được bụi bẩn, khiến da trắng sáng lên trông thấy.
                        </p>
                        <h5><b>Cách làm:</b></h5>
                        <p>
                            Nghiền táo trộn với 3 thìa mật ong hoặc trộn chuối với 1 thìa mật ong. Để khô trong 20 phút
                            và rửa sạch bằng nước ấm, khăn ấm sẽ làm loại bỏ được chất dầu, bã nhờn vượt quá mức
                            trên da. Giúp da mau lên tone.
                        </p>
                        <h4 class=" text-green-s">4. Dùng sữa chua:</h4>
                        <p>
                            Trong sữa chua có chứa axit lactic, góp phần giúp tẩy tế bào chết trên da, giúp hấp thụ
                            lượng dầu thừa trên mặt.
                        </p>
                        <h5><b>Cách làm:</b></h5>
                        <p>
                            Chỉ cần dùng 1 muỗng sữa chua triệt thoa đều lên mặt và để nó trong khoảng 15 phút. Sau
                            đó, bạn có thể rửa sạch bằng nước lạnh. Thực hiện mỗi ngày một lần.
                        </p>

                        <h4 class=" text-green-s">5. Sử dụng cà chua:</h4>
                        <p>
                            Cũng như dưa leo, cà chua có thể giúp bạn cải thiện được bã nhờn và làm trắng sáng da
                            hiệu quả. Cà chua có tính làm mát da, làm sáng da và se khít lỗ chân lông nhanh chóng.
                            Trong cà chua có chứa vitamin C giúp cho da sạch mụn. Thêm vào đó thì các axit chứa
                            trong cà chua cũng giúp hút sạch lượng dầu thừa.
                        </p>
                        <h5><b>Cách làm:</b></h5>
                        <p>
                            Cắt cà chua ra làm đôi và chà lên mặt của bạn. Bạn nên để nó trên da trong khoảng 15 phút
                            để vitamin C ngấm vào da và nuôi dưỡng da. Sau đó, rửa sạch da mặt bằng nước lạnh, vỗ
                            nhẹ cho da khô ráo và sử dụng thêm một loại kem dưỡng ẩm mà bạn cảm thấy phù hợp
                            cho da của bạn.
                        </p>
                        <p>
                            Để những phương pháp trên hiệu quả, điều quan trọng nhất là bạn cần sử dụng loại sữa
                            rửa mặt tốt để làm sạch da và góp phần loại bỏ bã nhờn trên da mặt, giúp các dưỡng chất
                            được thẩm thấu, tiêu biểu như <strong>Sữa rửa mặt trắng da BiOshi Đông Trùng Hạ Thảo</strong>, có
                            chiết xuất từ thiên nhiên với thành phần chính là đông trùng hạ thảo quý hiếm. Hàng ngày
                            rửa mặt 2 lần, dưỡng chất từ sữa rữa mặt sẽ thấm sâu vào bên trong, hỗ trợ nuôi dưỡng
                            làn da hiệu quả.
                        </p>
                        <p>
                            Bất kỳ loại da nào cũng có những cách chăm sóc khác nhau. Nhưng thay vì dùng kem để
                            cải thiện làn da, bạn nên sử dụng bằng các biện pháp thiên nhiên, vừa an toàn lại vừa hiệu
                            quả. Tuy nhiên, bạn phải kiên trì, bởi vì nó sẽ không giúp làn da bạn sáng lên ngay mà bổ
                            sung dưỡng chất từ bên trong, sáng lên từ từ và làm da trở nên chắc khỏe hơn trông thấy.
                        </p>
                        <p>
                            Trên đây là 5 cách chăm sóc và làm sáng da nhờn - dầu cho bạn đọc tham khảo, hi vọng
                            qua bài viết này, mọi người sẽ có thêm kiến thức trong việc chăm sóc da mặt, làm đẹp cho
                            bản thân. Cảm ơn các bạn đã theo dõi bài viết trên.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal-bi-quyet-lam-trang-da-hon-hop -->
<div class="modal fade" id="modal-bi-quyet-lam-trang-da-hon-hop" tabindex="-1" role="dialog" aria-labelledby="modal-bi-quyet-lam-trang-da-dau" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="border:none; position:relative;">
            <div class="modal-body p-0" style="border:none; position:relative;">
                <button type="button" class="close text-right modal-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class=" m-0 bg-s">
                    <div class="col-md-11 col-sm-12 px-3 pb-3 mx-auto text-green">
                        <h2 class="text-center title">BÍ QUYẾT LÀM TRẮNG DA VỚI DA HỖN HỢP </h2>
                        <p>
                            Da hỗn hợp được cho là một trong 5 loại da khá phức tạp, bởi vì trên da mặt cùng xuất hiện
                            vùng da khô và vùng da dầu. Thông thường, để chăm sóc da hỗn hợp và làm sáng loại da
                            này thường tốn khá nhiều bước. Sau đây là tổng hợp 5 cách giúp da hỗn hợp trở nên trắng
                            sáng hơn, đồng thời giúp da trở nên khỏe mạnh. Mời các bạn cùng đón đọc bài viết sau:
                        </p>
                        <h4 class=" text-green-s">1.Sử dụng nước hoa hồng:</h4>
                        <div class="col-md-10 mx-auto mb-4">
                            <img class="w-100 h-auto" src="~/Content/Image/Advisory/dathuong.jpg" alt="Da thường" />
                        </div>
                        <p>
                            Bạn có thể mua nước hoa hồng có sẵn hoặc làm nước hoa hồng tại nhà, bởi vì nó mang lại
                            hiệu quả ngang nhau.
                        </p>
                        <h5><b>Nguyên liệu cần chuẩn bị:</b></h5>
                        <ul>
                            <li>Nước hoa hồng</li>
                            <li>Mật ong</li>
                            <li>Sữa chua nguyên chất</li>
                            <li>1 bông hồng tươi</li>
                        </ul>
                        <h5><b>Cách làm:</b></h5>
                        <p>
                            Đầu tiên, bạn ngâm bông hồng tươi vào một chén nước nhỏ trong 5 phút. Tiếp theo, bỏ
                            bông hồng ra ngoài, tiếp đó, thêm vào chén nước một thìa cà phê nước hoa hồng cùng 1
                            muỗng sữa chua nguyên chất và một thìa mật ong. Sau đó thì trộn đều hỗn hợp này lên.
                        </p>
                        <p>
                            Bạn có thể dùng hỗn hợp này đắp lên mặt trong khoảng 10 phút. Sau đó, rửa mặt thật sạch
                            bằng nước ấm.
                        </p>
                        <p>
                            Cách này khiến cho da mặt trắng lên một cách tự nhiên, hỗn hợp từ nước hoa hồng cũng
                            phù hợp với nhiều người nhờ vào tác dụng tự nhiên. Không hề bị kích ứng cùng mùi hương
                            khá dễ chịu.
                        </p>
                        <h4 class=" text-green-s">2. Làm mặt nạ trắng da với bột yến mạch:</h4>
                        <p>
                            Mật ong từ xưa đến nay được xem là một loại thần dược dành cho phái đẹp do có chứa
                            nhiều khoáng chất tốt, mật ong cũng có thể sử dụng để chăm sóc da nhờn.
                        </p>
                        <h5><b>Nguyên liệu cần chuẩn bị:</b></h5>
                        <ul>
                            <li>Bột yến mạch và mật ong nguyên chất.</li>
                        </ul>
                        <h5><b>Cách làm:</b></h5>
                        <p>
                            Chỉ cần trộn đều 2 nguyên liệu đã được chuẩn bị sẵn cho thật mịn và thoa đều lên da trong
                            20 phút. Sau đó, chỉ cần rửa sạch lại bằng nước ấm là được. Sau khi bạn làm sạch da với
                            nước, bạn sẽ lập tức cảm nhận được sự mịn màng có trên da mặt.
                        </p>

                        <h4 class=" text-green-s">4.Hỗn hợp khoai tây:</h4>
                        <p>
                            Khoai tây có chứa nhiều thành phần có lợi cho da, bao gồm các loại vitamin A, E, C, B1, B2,
                            khoáng chất,… Đặc biệt là khi bạn kết hợp hỗn hợp khoai tây với mật ong hay sữa chua thì
                            hiệu quả làm trắng da sẽ càng cao, đặc biệt là khoai tây còn giúp xóa mờ vết thâm sạm và
                            tẩy tế bào chết một cách hiệu quả.
                        </p>
                        <h5><b>Nguyên liệu cần chuẩn bị:</b></h5>
                        <ul>
                            <li>1 củ khoai tây</li>
                            <li>2 thìa sữa chua không đường</li>
                            <li>1 thìa mật ong nguyên chất</li>
                            <li>bát và thìa để trộn</li>
                        </ul>
                        <h5><b>Cách làm:</b></h5>
                        <p>
                            Khoai tây sơ chế, gọi vỏ và cắt lát, sau đó xay nhuyễn cùng 1 quả cà chua đã rửa sạch
                            trước đó. Sau khi xay nhuyễn hỗn hợp, tiếp tục trộn chúng với sữa chua không đường và
                            mật ong nguyên chất ra một chiếc bát lớn, dùng thìa đảo cho đều tay, làm cho các nguyên
                            liệu được hòa quyện vào nhau. Sau đó bạn sử dụng hỗn hợp này làm mặt nạ, thư giãn
                            trong vòng 30 phút. Một tuần sử dụng ít nhất 2 lần sẽ giúp bạn có làn da trắng sáng.
                        </p>

                        <h4 class=" text-green-s">5. Làm trắng da từ các loại kem dưỡng</h4>
                        <p>
                            Hiện nay trên thị trường có khá nhiều loại kem dưỡng giúp bạn làm sáng da hiệu quả. Trong
                            số đó không thể không nhắc đến <strong>Kem trắng da mặt BiOshi Đông Trùng Hạ Thảo</strong> với

                            chiết xuất từ đông trùng hạ thảo, có công dụng chống kích ứng, kháng viêm da, chống lão
                            hóa, làm đầy rãnh nhăn, giúp da trở nên căng bóng, sáng mịn và hồng hào. Thêm vào đó,
                            nếu muốn đẩy nhanh hiệu quả khi dùng kem, hãy dùng kết hợp với Serum trắng da BiOshi
                            hoặc Kem dưỡng da BiOri, giúp da sáng mịn lên nhanh chóng.
                        </p>
                        <p>
                            Đối với những ai muốn chăm sóc da toàn thân, <strong>
                                Kem trắng da toàn thân BiOshi Đông Trùng Hạ Thảo
                            </strong> sẽ giúp cho làn da của bạn trở nên hoàn hảo. Với các thành phần chiết xuất
                            từ thiên nhiên có chứa Methylparaben, Probylparaben, nuôi dưỡng làn da từ bên trong, đẩy
                            lùi lão hóa, giúp da trở nên sáng hơn và đẹp hơn.
                        </p>
                        <p>
                            Trên đây là 5 cách làm sáng da cực kỳ hiệu quả được tổng hợp từ nhiều nguồn, mong các
                            bạn sẽ có thể có thêm kiến thức về việc chăm sóc và nuôi dưỡng làn da trở nên trắng sáng
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal-bi-quyet-lam-trang-da-kho -->
<div class="modal fade" id="modal-bi-quyet-lam-trang-da-kho" tabindex="-1" role="dialog" aria-labelledby="modal-bi-quyet-lam-trang-da-kho" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="border:none; position:relative;">
            <div class="modal-body p-0" style="border:none; position:relative;">
                <button type="button" class="close text-right modal-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class=" m-0 bg-s">
                    <div class="col-md-11 col-sm-12 px-3 pb-3 mx-auto text-green">
                        <h2 class="text-center title">BÍ QUYẾT LÀM TRẮNG DA VỚI DA KHÔ </h2>
                        <p>
                            Da khô là loại da mỏng manh nhất trong tất cả các loại da, bởi nó rất dễ bị tổn thương do
                            thời tiết. Khi trời chuyển mùa cũng là lúc da hứng chịu nhiều tổn thương nhất, nó trở nên
                            khô hơn, nứt nẻ và gây đau rát. Và đối với loại da khô này, không phải ai cũng biết cách
                            chăm sóc và dưỡng trắng. Bài viết này sẽ tổng hợp một số cách dưỡng trắng và nuôi
                            dưỡng da khô cho các chị em phụ nữ cùng tham khảo.
                        </p>
                        <h4 class=" text-green-s">1 Làm trắng da cho da khô bằng mặt nạ trứng gà</h4>
                        <div class="col-md-10 mx-auto mb-4">
                            <img class="w-100 h-auto" src="~/Content/Image/Advisory/dathuong.jpg" alt="Da thường" />
                        </div>
                        <p>
                            Biểu hiện của làn da khô thường khá dễ nhận ra, đó chính là da bị khô ráp, bong tróc lên
                            vảy trắng, điều này làm bạn tự ti khi ra đường.
                        </p>
                        <p>
                            Tuy nhiên, điều này sẽ hoàn toàn được cải thiện nếu bạn dùng phương pháp dưỡng da
                            bằng trứng gà, mật ong, dầu ô liu và vitamin E, đây được xem là một hỗn hợp dưỡng trắng
                            da hiệu quả. Cách làm như sau:
                        </p>
                        <p>
                            Sử dụng 1 lòng đỏ trứng gà, cùng với 1 thìa mật ong, nửa muỗng dầu ô liu và 1 viên vitamin
                            E, trộn đều hỗn hợp này lên, sau đó thoa lên da và để trong khoảng 15 phút rồi rửa sạch với
                            nước ấm, những dưỡng chất có trong hỗn hợp sẽ thấm sâu vào da, làm tăng độ ẩm cho da
                            và làm da rạng ngời hơn trông thấy chỉ sau 2 tuần sử dụng.
                        </p>

                        <h4 class=" text-green-s">2 Mặt nạ làm từ khoai tây</h4>
                        <p>
                            Thành phần chính trong khoai tây là Vitamin C, loại vitamin này khá tốt cho da khô, giúp làm
                            trắng và cung cấp độ ẩm cho da, khi bạn kết hợp nó với một số loại nguyên liệu khác thì
                            hiệu quả làm trắng da cũng như cải thiện làn da khô cũng trở nên đáng kể hơn.
                        </p>
                        <p>
                            Cách làm trắng da từ khoai tây cũng khá đơn giản, chỉ cần luộc và bóc vỏ khoai tây đi, sau
                            đó nghiền mịn trộn với 1 thìa mật ong và 1 thìa nước cốt chanh cho nó sệt và hòa vào nhau.
                            Sau đó, bạn hãy thoa hỗn hợp này lên da mặt, giữ nó trong khoảng 10 phút cho nó thấm
                            vào da rồi rửa lại bằng nước ấm
                        </p>
                        <p>
                            Thành phần chứa trong bơ bao gồm Vitamin E và Vitamin A, hỗ trợ cho da khỏe mạnh. Bởi
                            vì da khô được xem là một trong những loại da khá yếu và dễ tổn thương. Bơ giúp chị em
                            bổ sung được đủ lượng nước cho da, giúp làm da mềm mịn và góp phần làm da trắng sáng.
                            Điều bạn cần làm chỉ là trộn bơ với 1 thìa mật ong, sau đó đắp lên da mặt, để trong vòng 15
                            phút, sau đó rửa sạch bằng nước ấm. Sử dụng đều đặn ngày một lần, giúp da bạn trở nên
                            mịn màng, xóa bỏ thâm nám và trắng lên trông thấy.
                        </p>

                        <h4 class="text-green-s">4 Mặt nạ chuối làm trắng cho da bị khô</h4>
                        <p>
                            Theo nghiên cứu của các chuyên gia dinh dưỡng thì trong chuối có chứa khá nhiều vitamin,
                            đặc biệt là độ ẩm trong chuối sẽ giúp cho làn da khô của bạn trở nên mềm mịn hơn trông
                            thấy.
                        </p>
                        <h5>
                            Cách làm mặt nạ chuối:
                        </h5>
                        <p>
                            Bạn trộn chuối đã nghiền cùng với 2 muỗng sữa chua không đường để tạo thành một hỗn
                            hợp sánh mịn, sau đó thì thoa đều lên da mặt, giữ trong khoảng 10 phút và rửa lại bằng
                            nước sạch. Hằng ngày trước khi đi ngủ, bạn nên sử dụng loại mặt nạ này để giúp da khỏe
                            mạnh và trắng sáng.
                        </p>
                        <h4 class="text-green-s">5 Sử dụng các loại mỹ phẩm chuyên dụng cho da khô</h4>
                        <p>
                            Ngày nay trên thị trường, các loại mỹ phẩm được bày bán tràn lan với nhiều nhãn hàng
                            khác nhau, nhưng để tìm cho mình một loại mỹ phẩm ưng ý và phù hợp với làn da thì
                            không phải ai cũng đủ khả năng để tìm được. Chị em phụ nữ hiện nay ưa dùng những
                            dòng sản phẩm chiết xuất từ thiên nhiên bởi hoạt tính trong nó không làm ảnh hưởng
                            đến sức khỏe cũng như không gây nên tác dụng phụ cho da mặt. Một trong số đó phải
                            kể đến Serum trắng da mặt BiOshi Trà Xanh với công thức vượt trội có EGCG và
                            Polyphenol chiết xuất từ lá trà xanh góp phần chống lão hóa, kháng khuẩn và loại bỏ
                            những sắc tố đen giúp dưỡng trắng da từ sâu bên trong và ngăn ngừa sự phát triển
                            của tế bào ung thư da.
                        </p><p>
                            Sản phẩm có Tanin và một số Vitamin, Khoáng chất thiết yếu cũng giúp se khít lỗ chân
                            lông, sạch bã nhờn, bụi bẩn và khử đi các vi khuẩn trên da làm tăng độ đàn hồi, cho làn
                            da khỏe mạnh và trắng sáng.
                        </p><p>
                            Loại serum này có thể bổ sung dưỡng chất cho da khô, nuôi dưỡng sâu từ bên trong và
                            giúp da có đủ độ ẩm cần thiết, không bị bong tróc do ảnh hưởng bởi thời tiết nữa.
                        </p><p>
                            Ngoài ra, bạn cũng nên sử dụng kết hợp với sữa rửa mặt làm trắng da white face shower
                            gel, có chiết xuất từ lá trà xanh, giúp chống lão hóa, kháng khuẩn, loại bỏ được những sắc
                            tố đen và nuôi dưỡng da sâu từ bên trong, ngăn ngừa được sự phát triển của tế bào ung
                            thư da.Thành phần chứa trong sữa rửa mặt bao gồm tanin, vitamin và khoáng chất giúp se
                            khít lỗ chân lông, trị mụn và ngừa thâm hiệu quả, tăng độ đàn hồi và giúp da khỏe mạnh.
                        </p>
                        <p>
                            Hi vọng qua bài viết này, bạn sẽ có cái nhìn toàn diện hơn về cách chăm sóc da mặt, giúp
                            việc chăm sóc da trở nên hiệu quả hơn.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal-bi-quyet-lam-trang-da-nhay-cam -->
<div class="modal fade" id="modal-bi-quyet-lam-trang-da-nhay-cam" tabindex="-1" role="dialog" aria-labelledby="modal-bi-quyet-lam-trang-da-nhay-cam" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="border:none; position:relative;">
            <div class="modal-body p-0" style="border:none; position:relative;">
                <button type="button" class="close text-right modal-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class=" m-0 bg-s">
                    <div class="col-md-11 col-sm-12 px-3 pb-3 mx-auto text-green">
                        <h2 class="text-center title">BÍ QUYẾT LÀM TRẮNG DA VỚI DA NHẠY CẢM</h2>
                        <p>
                            Da nhạy cảm là một loại da không quá hiếm gặp đối với các chị em phụ nữ. Bởi vì đặc tính
                            của da yếu nên rất dễ bị tổn thương từ môi trường. Một số biểu hiện của da nhạy cảm
                            thường là: nổi mẩn đỏ, làn da thường xuyên khô tróc vảy, ngứa ngáy, đỏ ửng lên khi tiếp
                            xúc với chất lạ. Làn da này cũng cực kỳ khó khi dưỡng bởi vì không biết nó sẽ dị ứng với
                            những thành phần nào. Bài viết này sẽ giới thiệu đến các bạn một số cách chăm sóc da
                            nhạy cảm, mong rằng đây sẽ là những thông tin hữu ích cho độc giả tham khảo thêm.
                        </p>
                        <h4 class=" text-green-s">1. Làm mặt nạ trắng da nhạy cảm từ quả lê</h4>
                        <p>
                            Lê là một loại quả chứa nhiều vitamin như A, C, E, có tính mát và không gây bào mòn, kích
                            ứng da. Công thức để làm mặt nạ:
                        </p><p>
                            Sử dụng nước ép nửa quả lê gọt vỏ cùng ½ thìa sữa tươi không đường, sau đó sử dụng
                            bông thấm hỗn hợp này bôi đều lên da trước khi ngủ. Sử dụng tối thiểu 2 lần/ tuần để đem
                            lại hiệu quả tốt nhất.
                        </p>
                        <h4 class=" text-green-s">2. Làm trắng da nhạy cảm từ bơ và trứng gà</h4>
                        <p>
                            Quả bơ chứa nhiều dưỡng chất lành tính hỗ trợ cho làn da khỏe mạnh, cùng với lòng trắng
                            trứng gà sẽ giúp làn da hồi phục khỏi những tác động xấu của môi trường, đồng thời giúp
                            làn da them sang khỏe.
                            Cách làm: Sử dụng hỗn hợp bơ chín và lòng trắng trứng trộn đều. Sau đó dùng tay sạch hoặc
                            cọ đắp một lớp hỗn hợp lên da, thư giãn trong vòng 20-30 phút và rửa lại bằng nước sạch. Thực
                            hiện từ 2-3 lần/tuần để có kết quả tốt nhất.
                        </p>
                        <h4 class=" text-green-s">3. Mặt nạ từ sữa tươi, dâu tây cho da nhạy cảm:</h4>
                        <h5><b>Nguyên liệu:</b></h5>
                        <ul>
                            <li> 2-3 trái dâu tây nghiền nát</li>
                            <li> 1 muỗng cà phê mật ong</li>
                            <li>1 muỗng canh sữa tươi không đường.</li>
                        </ul>
                        <p>
                            Cách làm: Trộn các thứ trên thành một loại hỗn hợp, sau đó, thoa lên mặt và giữ trong 15
                            phút, sau cùng là rửa lại bằng nước ấm. Loại mặt nạ này sẽ giúp cho da bạn trở nên mịn
                            màng và trắng sáng, tăng cường độ ẩm cho làn da.
                        </p>
                        <h4 class=" text-green-s"> 4. Dưỡng da nhạy cảm bằng sữa chua.</h4>
                        <p>
                            Sữa chua có chứa các thành phần photpho, canxi, protein và vitamin B2, không những tốt
                            cho hệ tiêu hóa mà còn hỗ trợ dưỡng da cho chị em. Không tốn tiền triệu để mua mỹ phẩm,
                            chỉ cần mua sữa chua về trữ trong tủ lạnh là bạn đã có một lọ mỹ phẩm thượng hạng giúp
                            da bạn trắng sáng.
                        </p>

                        <h5><b>Một số cách làm kem dưỡng da bằng sữa chua:</b></h5>
                        <p>
                            Sử dụng sữa chua không đường đắp trực tiếp lên mặt từ 10-15 phút, sau đó rửa mặt bằng
                            nước ấm. Nếu da bạn không thể sử dụng bất kỳ loại mỹ phẩm nào thì sữa chua là một loại
                            dưỡng chất hoàn hảo không gây kích ứng da. Giups se khít lỗ chân lông và làm sáng da
                            mặt.
                        </p>
                        <p>
                            Đối với những ai bị cháy nắng khi đi ngoài đường, chỉ cần pha sữa chua với mật ong đắp
                            lên mặt khoảng 15 phút, sau đó rửa sạch bằng nước lạnh, tình trạng trên sẽ được cải thiện
                            đáng kể.
                        </p>
                        <h4 class=" text-green-s">5. Mặt nạ cà rốt</h4>
                        <h5><b>Chuẩn bị:</b></h5>
                        <ul>
                            <li><i>1 thìa sinh tố cà rốt</i></li>
                            <li><i>1 thìa sinh tố nho</i></li>
                            <li><i>1 thìa bột lúa mạch</i></li>
                            <li><i>1 quả lê xay nhuyễn</i></li>
                        </ul>
                        <p>
                            Cách làm: trộn tất cả những nguyên liệu trên thành hỗn hợp rồi đun cùng nước ấm, sau đó
                            đắp mặt nạ và nằm thư giãn trong vòng 20 phút. Dùng khăn giấy mềm lau nhẹ, không rửa
                            lại bằng nước.
                        </p><p>
                            Làn da nhạy cảm là một làn da đỏng đảnh, chính vì vậy nên nó rất dễ lên mụn hay kích ứng.
                            Ngoài việc sử dụng những liệu pháp từ thiên nhiên, các chị em nên chọn cho mình những
                            loại mỹ phẩm có chiết xuất từ thiên nhiên để cải thiện làn da của mình. Rửa mặt đúng cách,
                            khoa học cũng là một trong những điều giúp làn da của bạn trở nên sáng mịn hơn. Bạn nên
                            lựa chọn cho mình một loại sữa rửa mặt có chiết xuất từ thiên nhiên, tiêu biểu như sữa rửa
                            mặt white face shower gel, loại này chống kích ứng da khá tốt và chống viêm da hiệu quả.
                            NGoài ra, nếu muốn một làn da trắng mịn không tì vết, hãy tìm đến sữa tắm trắng cấp tốc
                            <strong>BiOshi Đông Trùng Hạ Thảo</strong> với công thức vượt trội đặc biệt có <strong>ADENOSINE</strong> chiết
                            xuất từ Đông Trùng Hạ Thảo góp phần <strong>
                                chống kích ứng, kháng viêm da; chống lão
                                hóa
                            </strong> bởi giảm các vết rạn chân chim, làm đầy rãnh nhăn và hiện tượng chảy xệ trên da
                            do kích thích tế bào tự sản xuất các sợi Ellastin và Collagen; đồng thời <strong>làm sáng da</strong> do
                            thúc đẩy tế bào hoạt động và tái tạo tế bào mạnh nhằm đào thải các hắc tố gây
                            sạm,nám, tàn nhang giúp da trắng hồng mịn màng không tì vết.
                        </p><p>
                            Ngoài ra, bạn nên tránh chạm tay vào mặt để nặn mụn, đồng thời kết hợp chế độ ăn uống
                            hợp lý để giúp cho làn da bạn trở nên đẹp hơn trông thấy!
                        </p><p>
                            Những kiến thức sau là tổng quan về cách làm đẹp da dành cho phái đẹp sở hữu làn da
                            nhạy cảm. Nếu bạn đang băn khoăn về cách chăm sóc da trắng sáng, thì hãy tham khảo
                            những kiến thức trên để giúp cho làn da của bạn thêm đẹp hơn và mịn màng hơn.
                            Cảm ơn quý độc giả đã đón đọc bài viết cách làm trắng sáng da nhạy cảm, nếu muốn biết
                            nhiều thông tin hơn, xin vui lòng đón đọc những bài tiếp theo sau đây.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal-bi-quyet-lam-trang-da-thuong -->
<div class="modal fade" id="modal-bi-quyet-lam-trang-da-thuong" tabindex="-1" role="dialog" aria-labelledby="modal-bi-quyet-lam-trang-da-thuong" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="border:none; position:relative;">
            <div class="modal-body p-0" style="border:none; position:relative;">
                <button type="button" class="close text-right modal-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class=" m-0 bg-s">
                    <div class="col-md-11 col-sm-12 px-3 pb-3 mx-auto text-green">
                        <h2 class="text-center title">BÍ QUYẾT LÀM TRẮNG DA VỚI DA THƯỜNG</h2>
                        <p>
                            Da thường là một loại da khá dễ chịu, những ai sở hữu loại da này thường được cho là may
                            mắn. Nhưng cũng không phải vì thế mà việc chăm sóc loại da này bị lơ là đi, vì cho dù da
                            bạn đẹp đến đâu mà không chăm sóc thì cũng sẽ bị nổi mụn và bị một số vấn đề khác liên
                            quan đến da. Nhưng không phải ai cũng biết cách chăm sóc loại da này. Bài viết hôm nay
                            sẽ giới thiệu đến các bạn 5 cách làm trắng da thường hiệu quả nhất.
                        </p>
                        <h4 class="text-green-s">Làm trắng da với bơ:</h4>
                        <p>
                            Như đã đề cập bên trên, da thường được cho là loại da dễ tính nhất trong tất cả các loại da,
                            cho nên, bạn có thể thoải mái áp dụng những công thức làm trắng da, chăm sóc da từ mỹ
                            phẩm hay thực phẩm từ thiên nhiên. Tuy nhiên, bạn cũng không nên áp dụng những công
                            thức không an toàn để tránh những rủi ro có thể xuất hiện trên làn da của bạn. Bơ là một
                            trong những loại thực phẩm hỗ trợ làm trắng da hiệu quả nhất, bạn nên kết hợp bơ với sữa
                            tươi để giúp làm sáng da và giúp làn da của bạn trở nên mịn màng hơn.
                        </p>
                        <h5><b>Nguyên liệu cần có:</b></h5>
                        1 quả bơ chín và 1 bịch sữa tươi không đường </p>
                        <h5><b>Cách làm:</b></h5>
                        <p>
                            Trước tiên, bơ gọt vỏ, xay nhuyễn, sau đó cho thêm lượng sữa tươi vừa đủ và trộn đều hỗn
                            hợp.
                        </p><p>
                            Trộn cho đến khi hỗn hợp sệt lại và hòa vào nhau là được.
                        </p><p>
                            Bạn tắm sạch bằng nước ấm trước (nếu bạn muốn làm trắng toàn thân), sau đó, lau thật
                            khô người và thoa hỗn hợp lên cơ thể.
                        </p><p>
                            Để trong khoảng 20 phút, sau đó tắm lại bằng nước mát và thoa kem dưỡng lên.
                        </p>
                        <h4 class="text-green-s">Làm trắng da với chanh:</h4>
                        <p>
                            Chanh là một loại thực phẩm khá phổ biến, dễ tìm mua, trong chanh có chứa chất acid làm
                            da trắng sáng. Nếu bạn là một người bận rộn không có thời gian để dưỡng da bằng kem thì
                            hàng ngày, bạn chỉ cần pha loãng chanh với nước ấm sau đó đắp lên da, kết quả sẽ như ý
                            bạn một cách nhanh chóng. Trong chanh có chứa thành phần vitamin làm trắng da, bổ sung
                            dưỡng chất cho da một cách hiệu quả nhất. Ngoài ra, bạn còn có thể sử dụng chanh với
                            mật ong, hiệu quả dưỡng da cũng không kém. Ngoài ra, chanh cũng giúp trị nám khá hiệu
                            quả.
                        </p>
                        <h4 class="text-green-s">Làm trắng da với mướp:</h4>
                        <p>
                            Mướp từ trước đến nay được xem là một loại thực phẩm thanh nhiệt, giải độc cho cơ thể.
                            Nhưng ít ai biết được, mướp còn đóng vai trò như một loại kem giúp làm trắng da hiệu quả.
                            Hằng ngày, đắp mặt nạ mướp sẽ đem lại hiệu quả tốt. Nếu bạn áp dụng đúng công thức thì
                            mướp sẽ làm cho làn da bạn trắng hồng dần lên.
                        </p>

                        <h4 class="text-green-s">Làm trắng da bằng dưa chuột:</h4>
                        <p>
                            Chắc hẳn có khá nhiều bạn sử dụng phương pháp này. Dưa chuột được xem là một loại
                            dưa có dưỡng chất khá tốt cho làn da. Mỗi tối trước khi đi ngủ, bạn chỉ cần cắt khoanh
                            mỏng dưa chuột và đắp mặt, da bạn sẽ trắng sáng hơn trông thấy.
                        </p>
                        <h4 class="text-green-s">Làm trắng da với lòng trắng trứng gà:</h4>
                        <p>
                            Không những là thực phẩm bổ sung dưỡng chất cho cơ thể, trứng gà còn là một loại dược
                            phẩm giúp làn da trở nên trắng sáng một cách nhanh chóng. Bạn chỉ cần dùng lòng trắng
                            trứng gà thoa lên mặt, tầm 10-15 phút sau nó sẽ khô lại, và bạn bắt đầu lột chúng ra như
                            mặt nạ. Khi đó, bạn sẽ cảm thấy da bạn căng lên, xóa mờ được vết thâm và làm sáng da từ
                            từ.
                        </p>
                        <h4 class="text-green-s">Không nên tắm trắng:</h4>
                        <p> Lời khuyên của các chuyên gia khi tắm trắng: </p><p>
                            Những phương pháp tắm trắng được quảng cáo là hiệu quả nhanh chóng ở nhiều thẩm mỹ
                            viện thực chất chỉ là sử dụng hóa chất để loại bỏ lớp tế bào sừng chứ không có hiệu quả
                            sâu. Tệ hơn, nhiều nơi sử dụng những hóa chất độc hại làm mòn da như thủy ngân,
                            hydroquinone(HQ), corticoid, v.v..
                        </p><p>
                            Hiện nay trên thị trường cũng có một số loại mỹ phẩm chiết xuất từ thiên nhiên giúp da trở
                            nên trắng sáng. Bạn cần tìm hiểu thật kỹ trước khi quyết định mua và sử dụng chúng. Xem
                            thông tin sản phẩm chúng dành cho loại da nào và hoạt tính ra sao.
                        </p><p>
                            Bạn nên tìm mua một số loại mỹ phẩm có chất lượng trên thị trường hiện nay, tiêu biểu là
                            Kem trắng da mặt BiOshi Đông Trùng Hạ Thảo, bao gồm các thành phần lành tính như chiết
                            xuất tinh chất nhân sâm, sữa ong chúa, nấm linh chi giúp nuôi dưỡng da sâu từ bên trong,
                            làm giảm các vết nhăn, ngăn ngừa lão hóa và giúp da trắng sáng, kết hợp với serum dưỡng
                            ẩm da BiOshi Đông Trùng Hạ Thảo sẽ làm cho bạn có một làn da hoàn hảo không tì vết.
                        </p><p>
                            Hãy luôn giữ da mình sạch sẽ, loại bỏ các tác nhân gây mụn và, tránh ánh nắng từ tia cực
                            tím.
                        </p><p>
                            Việc chăm sóc da luôn luôn là vấn đề được nhiều phụ nữ quan tâm, làm sao để có được
                            một làn da trắng sáng một cách tự nhiên nhất? Nên sử dụng liệu pháp nào thích hợp để
                            không gây tổn hại cho da? Da thường có những cách chăm sóc da thế nào để làm da nhanh
                            trắng sáng? Trên đây là một số cách chăm sóc da tiêu biểu giúp bạn có hiểu biết hơn về
                            cách chăm sóc da, hy vọng qua bài viết này, bạn có thể có cái nhìn khách quan hơn về việc
                            làm trắng da cho bản thân thông qua những liệu pháp tự nhiên sẵn có.
                        </p>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="px-4 py-2 text-center">
    <div class="bg--s shadow-s br-10">
        <div class="row m-0">
            <div class="col-lg-6 col-12 py-3">
                <img class="w-100 shadow-s br-20" src="~/Content/Image/Advisory/front/1.jpg" />
            </div>
            <div class="col-lg-6 col-12 py-3 text-left">
                <a class="advisory-link" href="#"
                   data-toggle="modal"
                   data-target="#modal-cach-cham-soc-da">
                    <h2 class="pt-0 text-green-s">Cách chăm sóc da </h2>
                </a>
                <p class="text-green text-left pr-4">
                    Với phái nữ, việc chăm sóc da là vô cùng quan trọng, để có một làn da đẹp, cần phải chăm
                    sóc theo quy trình. Dĩ nhiên, tùy từng loại da mà có cách chăm sóc khác nhau, không nên
                    chăm sóc tùy tiện dẫn đến những hậu quả không đáng có. Bài viết này sẽ hướng dẫn cho
                    các bạn cách để chăm sóc từng loại da đạt hiệu quả cao và nhanh chóng nhất!
                </p>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-6 col-12 py-3">
                <img class="w-100 shadow-s br-20" src="~/Content/Image/Advisory/front/2.jpg" />
            </div>
            <div class="col-lg-6 col-12 py-3 text-left">
                <a class="advisory-link" href="#"
                   data-toggle="modal"
                   data-target="#modal-phan-biet-cac-loai-da">
                    <h2 class="pt-0 text-green-s">Phân biệt các loại da </h2>
                </a>
                <p class="text-green text-left pr-4">
                    Da mặt luôn là một phần quan trọng nhất không thể nào lơ là, nhất là đối với phụ nữ. Với
                    một làn da đẹp, ai cũng sẽ tự tin hơn khi bước ra đường, nhưng không phải ai sinh ra cũng
                    có một làn da đẹp cả. Để có một làn da đẹp tuyệt đối, cần biết cách chăm sóc và bảo vệ
                    chúng khỏi những tác nhân gây hại từ môi trường. Có rất nhiều vấn đề xoay quanh về da,
                    nhưng trước tiên, nếu muốn biết cách khắc phục các vấn đề gây ảnh hưởng cho da thì ta
                    cần biết cách phân biệt các loại da. Trong bài viết này, hãy cùng tìm hiểu xem có bao nhiêu
                    loại da mặt nhé!
                </p>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-6 col-12 py-3">
                <img class="w-100 shadow-s br-20" src="~/Content/Image/Advisory/front/3.jpg" />
            </div>
            <div class="col-lg-6 col-12 py-3 text-left">
                <a class="advisory-link" href="#"
                   data-toggle="modal"
                   data-target="#modal-bi-quyet-lam-trang-da-dau">
                    <h2 class="pt-0 text-green-s">Bí quyết làm trắng da dầu </h2>
                </a>
                <p class="text-green text-left pr-4">
                    Da dầu - nhờn là một loại da khiến cho chị em khá khó chịu, vì lúc nào cũng tiết ra bã nhờn
                    nhất là tại vùng chữ T, khiến cho da dễ phát sinh mụn và có lỗ chân lông to. Nguyên nhân
                    chính làm làn da bị nhờn - dầu là do ảnh hưởng từ môi trường, chế độ ăn uống và cái chính
                    là sự hoạt động của lớp nhờn dưới da. Một phần là do yếu tố gen, lượng hormone có trong
                    cơ thể và mức độ hoạt động của tuyến nhờn sẽ quyết định độ nhờn trên da nhiều hay ít.
                    Để chăm sóc loại da này, bạn cần phải sử dụng nhiều yếu tố, và để làm làn da dầu - nhờn
                    trở nên trắng sáng, có khá nhiều cách. Nhưng sau đây là 5 cách tiêu biểu giúp làn da trở
                    nên trắng sáng một cách an toàn nhất.
                </p>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-6 col-12 py-3">
                <img class="w-100 shadow-s br-20" src="~/Content/Image/Advisory/front/4.jpg" />
            </div>
            <div class="col-lg-6 col-12 py-3 text-left">
                <a class="advisory-link" href="#"
                   data-toggle="modal"
                   data-target="#modal-bi-quyet-lam-trang-da-hon-hop">
                    <h2 class="pt-0 text-green-s">Bí quyết làm trắng da với da hỗn hợp </h2>
                </a>
                <p class="text-green text-left pr-4">
                    Da hỗn hợp được cho là một trong 5 loại da khá phức tạp, bởi vì trên da mặt cùng xuất hiện
                    vùng da khô và vùng da dầu. Thông thường, để chăm sóc da hỗn hợp và làm sáng loại da
                    này thường tốn khá nhiều bước. Sau đây là tổng hợp 5 cách giúp da hỗn hợp trở nên trắng
                    sáng hơn, đồng thời giúp da trở nên khỏe mạnh. Mời các bạn cùng đón đọc bài viết sau:
                </p>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-6 col-12 py-3">
                <img class="w-100 shadow-s br-20" src="~/Content/Image/Advisory/front/5.jpg" />
            </div>
            <div class="col-lg-6 col-12 py-3 text-left">
                <a class="advisory-link" href="#"
                   data-toggle="modal"
                   data-target="#modal-bi-quyet-lam-trang-da-kho">
                    <h2 class="pt-0 text-green-s">Bí quyết làm trắng da với da khô </h2>
                </a>
                <p class="text-green text-left pr-4">
                    Da khô là loại da mỏng manh nhất trong tất cả các loại da, bởi nó rất dễ bị tổn thương do
                    thời tiết. Khi trời chuyển mùa cũng là lúc da hứng chịu nhiều tổn thương nhất, nó trở nên
                    khô hơn, nứt nẻ và gây đau rát. Và đối với loại da khô này, không phải ai cũng biết cách
                    chăm sóc và dưỡng trắng. Bài viết này sẽ tổng hợp một số cách dưỡng trắng và nuôi
                    dưỡng da khô cho các chị em phụ nữ cùng tham khảo.
                </p>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-6 col-12 py-3">
                <img class="w-100 shadow-s br-20" src="~/Content/Image/Advisory/front/6.jpg" />
            </div>
            <div class="col-lg-6 col-12 py-3 text-left">
                <a class="advisory-link" href="#"
                   data-toggle="modal"
                   data-target="#modal-bi-quyet-lam-trang-da-nhay-cam">
                    <h2 class="pt-0 text-green-s">Bí quyết làm trắng da với da nhạy cảm </h2>
                </a>
                <p class="text-green text-left pr-4">
                    Da nhạy cảm là một loại da không quá hiếm gặp đối với các chị em phụ nữ. Bởi vì đặc tính
                    của da yếu nên rất dễ bị tổn thương từ môi trường. Một số biểu hiện của da nhạy cảm
                    thường là: nổi mẩn đỏ, làn da thường xuyên khô tróc vảy, ngứa ngáy, đỏ ửng lên khi tiếp
                    xúc với chất lạ. Làn da này cũng cực kỳ khó khi dưỡng bởi vì không biết nó sẽ dị ứng với
                    những thành phần nào. Bài viết này sẽ giới thiệu đến các bạn một số cách chăm sóc da
                    nhạy cảm, mong rằng đây sẽ là những thông tin hữu ích cho độc giả tham khảo thêm.
                </p>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-6 col-12 py-3">
                <img class="w-100 shadow-s br-20" src="~/Content/Image/Advisory/front/7.jpg" />
            </div>
            <div class="col-lg-6 col-12 py-3 text-left">
                <a class="advisory-link" href="#"
                   data-toggle="modal"
                   data-target="#modal-bi-quyet-lam-trang-da-thuong">
                    <h2 class="pt-0 text-green-s">Bí quyết làm trắng da với da thường </h2>
                </a>
                <p class="text-green text-left pr-4">
                    Da thường là một loại da khá dễ chịu, những ai sở hữu loại da này thường được cho là may
                    mắn. Nhưng cũng không phải vì thế mà việc chăm sóc loại da này bị lơ là đi, vì cho dù da
                    bạn đẹp đến đâu mà không chăm sóc thì cũng sẽ bị nổi mụn và bị một số vấn đề khác liên
                    quan đến da. Nhưng không phải ai cũng biết cách chăm sóc loại da này. Bài viết hôm nay
                    sẽ giới thiệu đến các bạn 5 cách làm trắng da thường hiệu quả nhất.
                </p>
            </div>
        </div>
       
    </div>
</div>
